<a href="https://colab.research.google.com/github/ejreyesCPE/CPE201A_FP_REYES/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [82]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [83]:
# This is a comment
print("Hello World!")

Hello World!

Variable Naming Conventions

In [84]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

print(x + a, b, c)
print(x, a, b, c)
print(x + a, b * a, b, c)

1 -1 2
1 0 -1 2
1 0 -1 2

Casting

In [85]:
b = "sally" # This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [86]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single Quotes'

In [87]:
y = "John"
y = 'John'

In [88]:
a = 4
A = "Sally"
# A will not overwrite a

One Value to Multiple Variables

In [89]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

Output Variables

In [90]:
x = "enjoying"
print("Python programming is " + x)

# Other way:

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [91]:
floorDivision = 10 // 3 # Whole number only
print(floorDivision)

x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

3
8
2
15
1.6666666666666667
2
125
1

Assignment Operator

In [97]:
x = 5
y = 3


x = 5 # Re-assigning x to 5 for demonstration
print("x after direct assignment (=): x =", x)

# Add and assign +=
x += y # Equivalent to x = x + y
print("x += y: x =", x)

# Subtract and assign -=
x -= y # Equivalent to x = x - y
print("x -= y: x =", x)

# Multiply and assign *=
x *= y # Equivalent to x = x * y
print("x *= y: x =", x)

# Divide and assign /=
x /= y # Equivalent to x = x / y
print("x /= y: x =", x)

# Modulus and assign %=
x %= y # Equivalent to x = x % y
print("x %= y: x =", x)

# Exponent and assign **=
x = 2 # Reset x for a clearer exponentiation example
y = 3
x **= y # Equivalent to x = x ** y
print("x **= y: x =", x)

# Floor divide and assign //=
x = 5 # Reset x
y = 3
x //= y # Equivalent to x = x // y
print("x //= y: x =", x)

# bitwise
x = 5
y = 3

# Bitwise AND and assign &=
x &= y # Equivalent to x = x & y (0101 & 0011 = 0001 = 1)
print("x &= y: x =", x)

x = 5 # Reset x
# Bitwise OR and assign |=
x |= y # Equivalent to x = x | y (0101 | 0011 = 0111 = 7)
print("x |= y: x =", x)

x = 5 # Reset x
# Bitwise XOR and assign ^=
x ^= y # Equivalent to x = x ^ y (0101 ^ 0011 = 0110 = 6)
print("x ^= y: x =", x)

x = 5 # Reset x
# Bitwise right shift and assign >>=
x >>= 1 # Equivalent to x = x >> 1 (0101 >> 1 = 0010 = 2)
print("x >>= 1: x =", x)

x = 5 # Reset x
# Bitwise left shift and assign <<=
x <<= 1 # Equivalent to x = x << 1 (0101 << 1 = 1010 = 10)
print("x <<= 1: x =", x)

x after direct assignment (=): x = 5
x += y: x = 8
x -= y: x = 5
x *= y: x = 15
x /= y: x = 5.0
x %= y: x = 2.0
x **= y: x = 8
x //= y: x = 1
x &= y: x = 1
x |= y: x = 7
x ^= y: x = 6
x >>= 1: x = 2
x <<= 1: x = 10

Comparison Operator

In [98]:
t = 1
u = 2

print(t == u)
print(t != u)
print(t > u)
print(t < u)
print(t >= u)
print(t <= u)

False
True
False
True
False
True

Logical Operators

In [103]:
t = 1
u = 2

print(t > 0 and t < 10)
print(u < 5 or u > 10)
print(not(t > 3 and u < 10))

True
True
True

Identity Operators

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

Bitwise Operators

In [110]:
v = 2
print(v << 2)
print(v >> 2)
print()

x = 1
y = 0
print(x & y)
print(x | y)
print(x^y)
print(~x)

8
0

0
1
1
-2